/**
 * @name Script
 *
 * @desc Template for a HTML5 bot script
 */

const action = require('./core/action.js')
const run = require('./core/run.js')

let actions = async page => {
  // TODO: Add bot actions here
}

run(actions)
